<footer class="navbar navbar-expand navbar-light bg-light bg-gradient border-top">
  <div class="container-fluid">
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <small><a class="nav-link" href="#">△ Go to Top</a></small>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <small><a class="nav-link" href="https://techfolios.github.io" target="_blank">▷ Made with TechFolios</a></small>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <small><a class="nav-link" href="{{ '/terms-and-conditions.html' | prepend: site.baseurl }}">▷ Terms and Conditions</a></small>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <small><p>&copy; <script>document.write(new Date().getFullYear())</script> Ali Al-Bayaty • All Rights Reserved</p></small>
      </ul>      
    </div>
  </div>
</footer>
