<header class="navbar navbar-expand navbar-light bg-light bg-gradient border-bottom">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">{{ site.data.bio.basics.name }}</a> -->
    <div class="ms-auto">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <a class="nav-link" href="{{ '/' | prepend: site.baseurl }}">Home</a>
        <!-- <a class="nav-link" href="{{ '/#projects' | prepend: site.baseurl }}">Projects</a> -->
        <!-- <a class="nav-link" href="{{ '/#essays' | prepend: site.baseurl }}">Essays</a> -->
        <!-- <a class="nav-link" href="{{ '/resume' | prepend: site.baseurl }}">Resume</a> -->
        <!-- <a class="nav-link" href="{{ '/docs/cv-albayaty.pdf' | prepend: site.baseurl }}" target="_blank">CV</a> -->
        <a class="nav-link" href="https://docs.google.com/document/d/1GMCvvsQVuJabqiGgJ6FkraLcDQmow2RGa8pcWanx5bg/edit?usp=sharing" target="_blank">CV</a>
        <a class="nav-link" href="{{ '/software' | prepend: site.baseurl }}">Software</a>
        <a class="nav-link" href="{{ '/simulators' | prepend: site.baseurl }}">Simulators</a>
        <a class="nav-link" href="{{ '/maps' | prepend: site.baseurl }}">MAPS</a>
        <a class="nav-link" href="{{ '/heritage' | prepend: site.baseurl }}">Heritage</a>
      </ul>
    </div>
  </div>
</header>
