---
title: Page Not Found
layout: default
---

{% include header.html %}

<div class="py-3 py-md-4 py-lg-5">
  <div class="container">
    <h2 class="display-2">HTTP Error 404: The requested page is not found!</h2>
    <h2 class="display-3">HTTP Error 404: The requested page is not found!</h2>
    <h2 class="display-4">HTTP Error 404: The requested page is not found!</h2>
    <!--
    <p>Perhaps you were looking for one of the following:</p>

    <h3>Essays</h3>
    <ul>
      {% assign essay_pages = site.pages | where: "type", "essay" | sort: "date" | reverse %}
      {% for page in essay_pages %}
      <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>

    <h3>Projects</h3>
    <ul>
      {% assign project_pages = site.pages | where: "type", "project" | sort: "title" %}
      {% for page in project_pages %}
      <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
    </ul>
    -->
  </div>
</div>

{% include footer.html %}
